* {
    box-sizing: border-box;
}

:root {
    --navyBlue: rgb(0, 53, 83);
    --lighterNavy: hsl(202, 100%, 40%);
    --paleNavy: hsl(202, 50%, 70%);
    --paleHover: hsl(202, 100%, 60%);
}

html,body {
    margin: 0;
    padding: 0;
}
body {
    overflow-y: scroll;
}

header {
    width: 100%;
    height: 7vh;

    display: flex;
    justify-content: space-between;

    background-color: var(--navyBlue);
    color: white;
}

header .headerText {
    width: auto;
    height: 5vh;
    margin-top: 1vh;

    padding-left: 3vh;
}

.headerText h1 {
    width: 100%;
    height: 3vh;
    font-size: 3vh;
    margin: 0;
}
.headerText h3 {
    width: 100%;
    height: 2vh;
    font-size: 1.8vh;
    line-height: 2vh;
    font-weight: 400;
    margin: 0;
}

header nav {
    width: auto;
    height: 7vh;

    display: flex;
    justify-content: flex-end;
}

header nav a {
    min-width: 10%;
    height: 100%;
    padding: 0 3vw;
    font-size: 2vh;
    text-align: center;
    line-height: 7vh;
    display: inline-block;
    text-decoration: none;

    background-color: var(--navyBlue);
    color: white;

    transition: background-color 0.2s, font-size 0.2s;
}

header nav a:hover {
    background-color: var(--lighterNavy);
    font-size: 3vh;
    transition: background-color 0.2s, font-size 0.2s;
}

main {
    width: 100%;
    min-height: 85vh;
    padding: 2vw;
}

main img {
    width: 100px;
}

footer {
    width: 100%;
    height: 8vh;
    background-color: grey;
    color: white;
}

footer .footerLinks {
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: space-around;
}

.footerLinks a {
    width: auto;
    height: 100%;

    font-size: 2vh;
    line-height: 4vh;
    color: white;

    display: inline-block;
}

footer .name {
    width: 100%;
    height: 4vh;

    line-height: 4vh;

    text-align: center;
}

/* ------------------------------------------------------------------- */
/* --- Yatzy --------------------------------------------------------- */
/* ------------------------------------------------------------------- */

#resetSubmit {
    width: auto;
    height: auto;
    padding: 5px;
    margin-bottom: 10px;

    background-color: var(--paleNavy);
    color: black;
    border: 1px solid black;
    border-radius: 5px;

    transition:
        background-color 0.2s,
        box-shadow 0.2s,
        transform 0.2s;
}

#resetSubmit:hover {
    background-color: var(--paleHover);
    transform: scale(1.1);
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);

    transition:
        background-color 0.2s,
        box-shadow 0.2s,
        transform 0.2s;
}

.yatzyGame {
    width: 100%;
    height: 60vh;
    border: 1px solid black
}

.yatzyGame .gameArea {
    width: 80%;
    height: 100%;
    float: left;

}

.gameArea .area,
.gameArea .buttons,
.gameArea .hand {
    width: 100%;
    border: 1px solid black
}

.gameArea .area {
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.gameArea .buttons {
    height: 40%;
    position: relative;
}

.buttons form {
    display: flex;
    justify-content: space-around;
}
.buttons h2 {
    text-align: center;
}

.buttons #throwSubmit {
    width: 15vh;
    height: 5vh;
    position: absolute;
    bottom: 1vh;

    background-color: var(--paleNavy);
    border: 1px solid black;

    transition: background-color 0.2s;
}

.buttons #throwSubmit:hover {
    background-color: var(--paleHover);
    transition: background-color 0.2s;
}

.buttons .fullGame {
    font-size: 30px;
    font-weight: 600;
    color: green;

    position: absolute;
    bottom: 9vh;
}

.buttons #saveSubmit {
    width: auto;
    height: 5vh;

    background-color: rgb(150, 170, 146);
    border: 1px solid black;

    position: absolute;
    bottom: 2vh;

    transition: background-color 0.2s;
}

.buttons #saveSubmit:hover {
    background-color: rgb(78, 182, 52);
    transition: background-color 0.2s;
}

.yatzyGame .scoreTable {
    width: 20%;
    height: calc(100% - 1px);
    float: right;
}

.scoreTable table{
    width: calc(100% + 1px);
    height: 100%;
    border-collapse: collapse;
}

.scoreTable table tr {
    width: 100%;
}

.scoreTable table tr td {
    border: 1px solid black;
}

.availableOption input[type=submit] {
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    border-radius: 5px;
    font-weight: 900;
    text-decoration: underline;
    color: red;
    background-color: transparent;
}
.availableOption input[type=submit]:hover {
    background-color: black;
}

.scoreTable table tr td:nth-child(1) {
    width: 70%;
    padding-left: 7%;
    font-weight: 900;
}

.scoreTable table tr td:nth-child(2) {
    width: 30%;
    text-align: center;
}

/* ------------------------------------------------------------------- */
/* --- Books --------------------------------------------------------- */
/* ------------------------------------------------------------------- */

.booksMain {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.book {
    width: 20%;
    height: auto;
    text-align: center;
}

.book .image {
    width: 100%;
}

.book .image img {
    width: 100%;
}

.book .title {
    font-size: 3vh;
    font-weight: 900;
}

.book .author {
    font-size: 2vh;
}

/* ------------------------------------------------------------------- */
/* --- Scores --------------------------------------------------------- */
/* ------------------------------------------------------------------- */
.scoresTable {
    width: 100%;
    text-align: center;
}

.scoresTable tr {
    height: 3vh;
    font-size: 2.5vh;
    line-height: 3vh;
}

.scoreHistory {
    width: 100%;
    height: 500px;
    margin-bottom: 40px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    border: 1px solid black;
}

.yAxis {
    width: 20px;
    height: calc( 100% + (100% / 10));
    position: absolute;
    top: -2px;
    left: -20px;

    display: flex;
    flex-direction: column-reverse;
}

.yAxis .yLabel {
    width: 100%;
    height: calc(100% / 10);
    padding-left: 5px;
    border-top: 2px solid black;
}

.xAxis {
    width: calc( 100% );
    height: 20px;
    position: absolute;
    bottom: -20px;
    right: 0px;

    display: flex;
}

.xAxis .xLabel {
    width: calc(100% / 15);
    height: 100%;
    padding-left: 5px;
    border-right: 2px solid black;
    text-align: right;
}
.xAxis .xLabel:nth-child(1) {
    border-left: 2px solid black;
}

.scoreHistory .pole {
    width: calc(100% / 15);
    height: 44px;

    background-color: var(--lighterNavy);
    border: 1px solid grey
}

/* ------------------------------------------------------------------- */
/* --- Session ------------------------------------------------------- */
/* ------------------------------------------------------------------- */

.destrotSession {
    width: auto;
    height: auto;
    padding: 5px 10px;

    background-color: red;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}

/* ------------------------------------------------------------------- */
/* --- Houses -------------------------------------------------------- */
/* ------------------------------------------------------------------- */

.houseMain {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.houseMain a {
    width: 100%;
    color: black;
    text-decoration: none;
}

.house {
    width: 100%;
    height: 200px;
    padding: 5px;
    margin-bottom: 30px;

    border: 2px solid black;
    border-radius: 15px;

    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 30% 50% 20%;

    overflow: hidden;
}

.house h2 {
    width: 100%;
    height: 100%;
    margin: 0;

    line-height: 30px;
    text-align: center;
}

.house img {
    height: 100%;
    width: auto;
    border-radius: 10px;

    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4;
}

.house .rooms {
    width: 100%;
    height: 60px;
    padding-left: 20px;

    line-height: 60px;
    font-size: 20px;
}

.house .details {
    width: 100%;
    height: 100%;
    padding-right: 20px;

    text-decoration: underline;
    text-align: right;
    font-size: 20px;
}

/* ------------------------------------------------------------------- */
/* --- Property ------------------------------------------------------ */
/* ------------------------------------------------------------------- */
