<footer>
    <div class="footerLinks">
        <a href="./">Hem</a>
        <a href="./session">Session</a>
        <a href="./yatzy">Yatzy</a>
        <a href="./highscores">Highscores</a>
    </div>
    <div class="name">
        Denna sidan är skapad utav Hannes Öhman
    </div>
</footer> 

</body>
</html>
