{% include('header.html.twig') %}

<main class="homeMain">
    <a href="session/destroy" class="destrotSession">DESTROY SESSION</a>
    <pre>
        {{ dump(data) }}
    </pre>
</main>

{% include('footer.html.twig') %}
